@attribute [Route(Routes.Pages.Messages.Index)]
<PageTitle>Messages</PageTitle>

<div class="d-flex mb-4">
    <a class="btn btn-outline-primary" href="@Routes.Pages.Messages.Create">Add Message</a>
</div>

@if (_messages == null)
{
    <div>Loading...</div>
}
else
{
    <table class="table">
        <tbody>
        @foreach (var message in _messages)
        {
            <tr>
                <td class="w-100">@message.Content</td>
                <td class="text-end">
                    <div class="d-inline-flex align-items-center gap-2">
                        <button class="btn btn-outline-primary" @onclick="@(() => GoToUpdatePage(message))">
                            Edit
                        </button>
                        <button class="btn btn-outline-danger" @onclick="@(() => DeleteMessageAsync(message))">
                            Delete
                        </button>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<MessageDto>? _messages;

    [Inject]
    public HttpClient HttpClient { get; set; } = null!;

    [Inject]
    public NavigationManager NavigationManager { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        _messages = await HttpClient.GetFromJsonAsync<List<MessageDto>>(Routes.Api.Messages.GetAll);
    }

    private void GoToUpdatePage(MessageDto message)
    {
        var route = Routes.Pages.Messages.Update.Format(message.Id);
        NavigationManager.NavigateTo(route);
    }

    private async Task DeleteMessageAsync(MessageDto message)
    {
        var route = Routes.Api.Messages.Delete.Format(message.Id);
        var response = await HttpClient.DeleteAsync(route);

        if (response.IsSuccessStatusCode)
        {
            _messages?.Remove(message);
        }
    }
}