<EditForm Model="@Command" OnValidSubmit="@OnValidSubmitAsync">
    <FluentValidationValidator/>
    <div class="row mb-3">
        <div class="col-12">
            <label class="w-50">
                Your message:
                <InputTextArea class="form-control" @bind-Value="Command.Text" rows="2"/>
            </label>
            <ValidationMessage For="() => Command.Text"/>
        </div>
    </div>   
    <div class="d-flex align-items-center gap-1">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</EditForm>

@code {
    [Parameter]
    public EventCallback OnMessageAdded { get; set; }

    [Parameter, EditorRequired]
    public CreateMessageCommand Command { get; set; } = null!;

    [Inject]
    public HttpClient HttpClient { get; set; } = null!;
    
    private async Task OnValidSubmitAsync()
    {       
        var response = await HttpClient.PostAsJsonAsync(
            Routes.Api.Messages.Create, Command);

        if (response.IsSuccessStatusCode is true)
        {
            await OnMessageAdded.InvokeAsync();
        }
    }
}